@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* PatrickHand-Regular.ttf */

@font-face {
  font-family: 'Patrick Hand';
  src: url('/fonts/PatrickHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}